## Files to ignore
*.~ml
*.aps
*.[bB][aA][kK]
*.ilk
*.lastbuildstate
*.*log
*.obj
*.pdb
/*.props
*.RData
*.Rhistory
*.*sdf
*.suo
*.uml
*.user

## Folders to ignore
[Dd]ebug/
/doc/cache
/doc/diagrams
/doc/doxy
/doc/pages/watermark.bmp
include/
lib/
[Rr]elease/
/res/TestImages
scripts/
Versions/
/.vs/
x64/
