## Files to ignore
*.~ml
*.aps
*.[bB][aA][kK]
*.ilk
*.lastbuildstate
*.*log
*.obj
*.pdb
/*.props
*.RData
*.Rhistory
*.*sdf
*.suo
*.uml
*.user
*_20*.sln
*_20*.vcxproj

## Folders to ignore
[Dd]ebug/
/doc/cache
/doc/doxy
/doc/pages/watermark.bmp
include/
lib/
[Rr]elease/
scripts/
/.vs/
x64/
