## Files to ignore
*.aps
*.suo
*.user
*.ilk
*.lastbuildstate
*.obj
*.*sdf
*.*log
*.[bB][aA][kK]
*.uml
*.~ml
*.Rhistory
/*.props

## Folders to ignore
[Dd]ebug/
[Rr]elease/
x64/
include/
lib/
scripts/
doc/cache
doc/doxy
doc/pages/watermark.bmp
